.add-place-form {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.add-place-form div {
    margin-bottom: 10px;
}

.add-place-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

.add-place-form input,
.add-place-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.add-place-form button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.add-place-form button:hover {
    background-color: #218838;
}



