.card-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.card:hover {
    transform: scale(1.03); /* Увеличение размера при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень при наведении */
}

.card {
    width: 225px;
    height: 225px;
    background-color: var(--button-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
}

.card-wrapper.large .card {
    width: 280px;
    height: 280px;
}

.card-title {
    margin: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

.large-text {
    font-size: 40px; /* Увеличение размера текста */
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.plus-icon {
    width: 60px; /* Ширина иконки по умолчанию */
    height: 60px; /* Высота иконки по умолчанию */
}

.large-icon {
    width: 80px; /* Увеличенная ширина для средней карточки */
    height: 80px; /* Увеличенная высота для средней карточки */
}
