/* src/components/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-color);
    padding: 10px 20px;
    height: 70px; /* Устанавливаем высоту */
    box-sizing: border-box; /* Учитываем padding в общей высоте */
}

.menu-icon,
.profile-icon {
    font-size: 24px;
}

/* Добавляем стили для изображений иконок */
.menu-icon img,
.profile-icon img {
    width: 48px; /* Ширина изображения */
    height: 48px; /* Высота изображения */
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 50px; /* Размер текста заголовка */
    margin: 0;
}

.header-link {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Делаем цвет ссылки таким же, как у родительского элемента */
    cursor: pointer; /* Добавляем указатель при наведении */
}