@import './styles/color.css';

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.App {
  text-align: center;
  background-color: var(--background-color);
  height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 70px); /* Учитывая высоту шапки */
}
